
.form-group
  color rgba(40,40,40,0.9);
  ::-webkit-input-placeholder
    color rgba(40,40,40,0.9);
  ::-moz-placeholder
    color rgba(40,40,40,0.9);
  ::-moz-placeholder
    color rgba(40,40,40,0.9);
  ::-ms-input-placeholder
    color rgba(40,40,40,0.9);
  input
    color rgba(40,40,40,0.9);
    border none
    -webkit-appearance caret
    -moz-appearance caret
    outline none
    background transparent
    &:focus,&:active
      color rgba(40,40,40,0.9);
      background transparent
      outline none
      -webkit-appearance caret
